<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>SMS SC_P</display-name>
  
	<servlet>
  		<servlet-name>AppRequestHandler</servlet-name>
  		<display-name>AppRequestHandler</display-name>
  		<description></description>
  		<servlet-class>com.ubaid.app.controller.AppRequestHandler</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SignIn</servlet-name>
		<display-name>SignIn</display-name>
		<description></description>
		<servlet-class>com.ubaid.app.controller.routers.SignIn</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SignUp</servlet-name>
		<display-name>SignUp</display-name>
		<description></description>
		<servlet-class>com.ubaid.app.controller.routers.SignUp</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Option</servlet-name>
		<display-name>Option</display-name>
		<description></description>
		<servlet-class>com.ubaid.app.controller.routers.Option</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SignUpData</servlet-name>
		<display-name>SignUpData</display-name>
		<description></description>
		<servlet-class>com.ubaid.app.controller.routers.SignUpData</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SubmissionConfirm</servlet-name>
		<display-name>SubmissionConfirm</display-name>
		<description></description>
		<servlet-class>com.ubaid.app.controller.routers.SubmissionConfirm</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Home</servlet-name>
		<display-name>Home</display-name>
		<description></description>
		<servlet-class>com.ubaid.app.controller.routers.Home</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>User</servlet-name>
		<display-name>User</display-name>
		<description></description>
		<servlet-class>com.ubaid.app.controller.routers.User</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AppRequestHandler</servlet-name>
		<url-pattern>/AppRequestHandler</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SignIn</servlet-name>
		<url-pattern>/SignIn</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SignUp</servlet-name>
		<url-pattern>/SignUp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Option</servlet-name>
		<url-pattern>/Option</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SignUpData</servlet-name>
		<url-pattern>/SignUpData</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SubmissionConfirm</servlet-name>
		<url-pattern>/SubmissionConfirm</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Home</servlet-name>
		<url-pattern>/Home</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>User</servlet-name>
		<url-pattern>/User</url-pattern>
	</servlet-mapping>


    <welcome-file-list>
  	  <welcome-file>src/index/index.html</welcome-file>

  	</welcome-file-list>

</web-app>
